.DS_Store
.idea/
*.log
*.iml
Thumbs.db
db.json
node_modules/
public/
.deploy*/
_multiconfig.yml
yarn.lock
package-lock.json
node_modules/

# Ignore optional external libraries
/themes/next/source/lib/*

# Track internal libraries & Ignore unused verdors files
!/themes/next/source/lib/font-awesome/
!/themes/next/source/lib/anime.min.js
!/themes/next/source/lib/velocity/